Production/Engine/FragmentsAR/PapyrusSAR/Workspace/Fragment_Input.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (C) 2018 hungpham.
  All rights reserved. This program and the accompanying materials are belonged to the MorphoBoid group of Image and Sound team in the LaBRI (UMR 5800) and the Ausonius Institute (UMR 5607).
  
  http://morphoboid.labri.fr/projects.html
  
  Contributors:
      hungpham - initial implementation of simulation of papyrus fragments assembly in 2D space.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Folder">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="path"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Fragment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="folderName" use="optional"/>
                <xs:attribute type="xs:string" name="fileName" use="optional"/>
                <xs:attribute type="xs:string" name="maskName" use="optional"/>
                <xs:attribute type="xs:string" name="versoFileName" use="optional"/>
                <xs:attribute type="xs:string" name="versoMaskName" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
